.profile-image {
    margin: 10px 0;
    height: auto;
    max-width: 30%;
    vertical-align: middle;
    min-height: 50%;
    border: 5px solid #A8DADC;
    border-radius: 10px;
}

.profile-image img {
    border-radius: 5px;
}

.card-container-full.card-container {
    height: auto;
}

#image-input + label {
    cursor: pointer;
}

#image-input:disabled + label {
    cursor: default;
}

#image-input:disabled + label .profile-image {
    border-color: rgba(118, 118, 118, 0.3);
}

input {
    border: 2px solid #A8DADC;
}

input:disabled {
    border: 1px solid rgba(118, 118, 118, 0.3);
    outline: transparent;
}

input:focus-visible {
    outline: none;
    border-color: var(--dark-blue);
}